

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<br />
<div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
    <h3 class="title">BİZE ULAŞIN</span></h3>
    <p>İnternet Sayfamız Yapım Aşamasındadır. Siparişlerinizi Whatsapp, İnstagram DM veya E-Mail Üzerinden Verebilirsiniz. </p>
</div>




    <div class="address">
        <!--address-->
        <div class="container">
            <div class="address-row">
                <div class="col-md-6 address-left wow fadeInLeft animated" data-wow-delay=".5s">
                    <div class="address-grid">
                        <h4 class="wow fadeIndown animated" data-wow-delay=".5s">İLETİŞİM </h4>
                        <form method="post">
                            <input class="wow fadeIndown animated" data-wow-delay=".6s" type="text" name="adSoyad" placeholder="İsim Soyisim" required="">
                            <input class="wow fadeIndown animated" data-wow-delay=".7s" type="text" name="eposta" placeholder="Email" required="">
                            <textarea class="wow fadeIndown animated" data-wow-delay=".8s" name="mesaj" placeholder="Mesaj" required=""></textarea>
                            <input class="wow fadeIndown animated" data-wow-delay=".9s" type="submit" value="GÖNDER">
                        </form>
                    </div>
                </div>
                <div class="col-md-6 address-right">
                    <div class="address-info wow fadeInRight animated" data-wow-delay=".5s">
                        <h4>ADRES</h4>
                        <p>Ümraniye/İSTANBUL - TÜRKİYE</p>
                    </div>
                    <div class="address-info address-mdl wow fadeInRight animated" data-wow-delay=".7s">
                        <h4>TELEFON </h4>
                        <p>0555 306 0554</p>
                    </div>
                    <div class="address-info wow fadeInRight animated" data-wow-delay=".6s">
                        <h4>E-MAIL</h4>
                        <p><a href="mailto:penyezcigrikci@gmail.com"> penyezcigrikci@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="contact">
        <div class="container">
            <iframe frameborder='0' height='400' marginheight='0' marginwidth='0' scrolling='no' src='https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=istanbul+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed' width='100%'><a href='https://www.maps.ie/map-my-route/'>Plot a route map</a></iframe>
        </div>
    </div>
